
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Valentin - Home</title>
    <meta name="author" content="Valentin Stanley">
    <link rel="canonical" href=""/>
    <link rel="home" href=""/>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="shortcut icon" type="image/x-icon" href="images/icon.jpg">
    <link rel="apple-touch-icon" type="image/jpg" href="images/icon.jpg">

    <!-- ================================
    Start CSS
    ================================= -->
    
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.css">
    
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <!-- ================================
    End CSS
    ================================= -->

  </head>
  <body>

    <!-- ================================
    Start Navigation Bar
    ================================= -->
    <header>
      <div class="headerCol">
        <div class="container-fluid">
          <div class="row align-items-center">
            
            <div class="col">
              <div class="d-md-none">
                <button class="navToggle">
                  <span class="navToggle__text">Toggle Menu</span>
                </button>
              </div>
              <div class="navCollapseCol">
                <div class="navCol">
                  <ul>
                    <li><a href="{% url "index" %}">Home</a></li>
                    
                    <li><a href="https://resocorp.com/blog/">Blog</a></li>
                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- ================================
    End Navigation Bar
    ================================= -->

    <!-- ================================
    Start Content
    ================================= -->
    <section>
      <div class="bannerSection">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-auto order-md-last">
              <div class="bannerUserImg">
                <img src="{% static "images/user-img.png" %}" alt="...">
              </div>
            </div>
            <div class="col-md">
              <div class="bannerContent">
                <h1 class="xlTitle pb-3">I'm Valentin Stanley <br>software engineer</h1>
                <p>and co-founder of Resocorp, a company that creates applications and other IT services. 
                    I'm passionate about technology and try to contribute to the scientific community.</p>
                <div class="bannerBtnCol">
                  <div class="row">
                    <div class="col-auto">
                      <a download href="https://docs.google.com/document/d/116ULUvgb8KKqBvHs8uL0oJNd_dDyRiZI/edit?usp=sharing&ouid=107988297006068888420&rtpof=true&sd=true" class="btn btnPrimary">Download Resume</a>
                    </div>
                    <div class="col-auto">
                      <a href="https://twitter.com/ValentinStanle7" class="btn btnOutline">Contact</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="footerCol">
        <div class="container">
          <ul class="socialCol">
            <li><a href="https://web.facebook.com/stanley.valentin.56/"><img src="{% static "images/fb.svg" %}" alt="..."></a></li>
            <li><a href="https://www.instagram.com/vstancodepro/"><img src="{% static "images/insta.svg" %}" alt="..."></a></li>
            <li><a href="https://twitter.com/ValentinStanle7"><img src="{% static "images/twitter.svg" %}" alt="..."></a></li>
            <li><a href="https://www.linkedin.com/in/valentin-stanley-4aa18a1b2"><img src="{% static "images/linkedin.svg" %}" alt="..."></a></li>
          </ul>
          <div class="copyrightCol">
            <p>Copyright ©2024 All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- ================================
    End Footer
    ================================= -->

    <!-- ================================
    Start Scripts
    ================================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.js"></script>
    <script src="{% static "js/script.js" %}"></script>
    <!-- ================================
    End Scripts
    ================================= -->
  </body>
</html>
